---
import ScriptText from './ScriptText.astro';

interface Props {
  zh: string;
  en: string;
}

const { zh, en } = Astro.props;
---

<span data-copy-zh><ScriptText text={zh} /></span><span data-copy-en>{en}</span>
